* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
   font-family: Arial, sans-serif;
   background: #08111f;
   color: #ccd6f6;
   min-height: 100vh;
   border:1px solid grey;
   transition:0.3s;
}

body[data-theme="dark"]{
  background:#08111f;
  color:#ccd6f6;
}

body[data-theme="light"]{
  background:white;
  color:black;
}

.logo{
  font-size:clamp(1.5rem,5vw,3rem);
  text-align:center;
  padding:0 10px;
}

.hero {
   text-align: center;
}

.hero h1 {
  color: #FFFFFF;
  margin-bottom: 15px;
  font-size:clamp(1.5rem,5vw,3rem);
  text-align:center;
  padding:0 10px;

}

body[data-theme="dark"] .hero h1{
    color:white;
}

body[data-theme="light"] .hero h1{
    color:black;
}

.hero p {  

  color: #02f737;
  font-size: clamp(1rem, 2vw, 1.3rem);
} 

@media (max-width: 480px) 
{

  span {
    padding: 6px 10px;
    font-size: 11px;
  }

  .hero {
    margin: 20px 10px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.9rem;
  }
  
}
